In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv")

In [3]:
data

,OrderDate,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity,TaxAmt,TotalProductCost
0,01/01/2016,336,Italy,"Road-650 Black, 62",699.0982,699.0982,1,55.9279,413.1463
1,01/01/2016,222,United States,"Sport-100 Helmet, Blue",34.9900,34.9900,1,2.7992,13.0863
2,01/01/2016,540,Canada,HL Road Tire,32.6000,32.6000,1,2.6080,12.1924
3,01/01/2016,536,Italy,ML Mountain Tire,29.9900,29.9900,1,2.3992,11.2163
4,01/01/2016,490,Germany,"Short-Sleeve Classic Jersey, L",53.9900,53.9900,1,4.3192,41.5723
...,...,...,...,...,...,...,...,...,...
995,02/02/2016,477,France,Water Bottle - 30 oz.,4.9900,4.9900,1,0.3992,1.8663
996,02/02/2016,606,Canada,"Road-750 Black, 52",539.9900,539.9900,1,43.1992,343.6496
997,02/02/2016,374,United States,"Road-250 Black, 44",2443.3500,2443.3500,1,195.4680,1554.9479
998,02/02/2016,477,India,Water Bottle - 30 oz.,4.9900,4.9900,1,0.3992,1.8663
999,02/02/2016,562,Canada,"Touring-1000 Yellow, 50",2384.0700,2384.0700,1,190.7256,1481.9379

In [4]:
data1 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",nrows=2)
data1

,OrderDate,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity,TaxAmt,TotalProductCost
0,01/01/2016,336,Italy,"Road-650 Black, 62",699.0982,699.0982,1,55.9279,413.1463
1,01/01/2016,222,United States,"Sport-100 Helmet, Blue",34.9900,34.9900,1,2.7992,13.0863

In [6]:
data2 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",usecols=[0,1,2,3])
data2

      OrderDate  ProductKey        Country              EnglishProductName
0    01/01/2016         336          Italy              Road-650 Black, 62
1    01/01/2016         222  United States          Sport-100 Helmet, Blue
2    01/01/2016         540         Canada                    HL Road Tire
3    01/01/2016         536          Italy                ML Mountain Tire
4    01/01/2016         490        Germany  Short-Sleeve Classic Jersey, L
..          ...         ...            ...                             ...
995  02/02/2016         477         France           Water Bottle - 30 oz.
996  02/02/2016         606         Canada              Road-750 Black, 52
997  02/02/2016         374  United States              Road-250 Black, 44
998  02/02/2016         477          India           Water Bottle - 30 oz.
999  02/02/2016         562         Canada         Touring-1000 Yellow, 50

[1000 rows x 4 columns]

In [9]:
data3 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",skiprows=[1,2])
data3

,OrderDate,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity,TaxAmt,TotalProductCost
0,01/01/2016,540,Canada,HL Road Tire,32.60,32.60,1,2.6080,12.1924
1,01/01/2016,536,Italy,ML Mountain Tire,29.99,29.99,1,2.3992,11.2163
2,01/01/2016,490,Germany,"Short-Sleeve Classic Jersey, L",53.99,53.99,1,4.3192,41.5723
3,01/01/2016,225,Canada,AWC Logo Cap,8.99,8.99,1,0.7192,6.9223
4,01/01/2016,390,United States,"Road-550-W Yellow, 48",1120.49,1120.49,1,89.6392,713.0798
...,...,...,...,...,...,...,...,...,...
993,02/02/2016,477,France,Water Bottle - 30 oz.,4.99,4.99,1,0.3992,1.8663
994,02/02/2016,606,Canada,"Road-750 Black, 52",539.99,539.99,1,43.1992,343.6496
995,02/02/2016,374,United States,"Road-250 Black, 44",2443.35,2443.35,1,195.4680,1554.9479
996,02/02/2016,477,India,Water Bottle - 30 oz.,4.99,4.99,1,0.3992,1.8663
997,02/02/2016,562,Canada,"Touring-1000 Yellow, 50",2384.07,2384.07,1,190.7256,1481.9379

In [11]:
data3 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",index_col="Country")
data3

,OrderDate,ProductKey,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity,TaxAmt,TotalProductCost
Country,,,,,,,,
Italy,01/01/2016,336,"Road-650 Black, 62",699.0982,699.0982,1,55.9279,413.1463
United States,01/01/2016,222,"Sport-100 Helmet, Blue",34.9900,34.9900,1,2.7992,13.0863
Canada,01/01/2016,540,HL Road Tire,32.6000,32.6000,1,2.6080,12.1924
Italy,01/01/2016,536,ML Mountain Tire,29.9900,29.9900,1,2.3992,11.2163
Germany,01/01/2016,490,"Short-Sleeve Classic Jersey, L",53.9900,53.9900,1,4.3192,41.5723
...,...,...,...,...,...,...,...,...
France,02/02/2016,477,Water Bottle - 30 oz.,4.9900,4.9900,1,0.3992,1.8663
Canada,02/02/2016,606,"Road-750 Black, 52",539.9900,539.9900,1,43.1992,343.6496
United States,02/02/2016,374,"Road-250 Black, 44",2443.3500,2443.3500,1,195.4680,1554.9479
India,02/02/2016,477,Water Bottle - 30 oz.,4.9900,4.9900,1,0.3992,1.8663
Canada,02/02/2016,562,"Touring-1000 Yellow, 50",2384.0700,2384.0700,1,190.7256,1481.9379

In [16]:
data3 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",header = 2)
data3

,01/01/2016,222,United States,"Sport-100 Helmet, Blue",34.99,34.99.1,1,2.7992,13.0863
0,01/01/2016,540,Canada,HL Road Tire,32.60,32.60,1,2.6080,12.1924
1,01/01/2016,536,Italy,ML Mountain Tire,29.99,29.99,1,2.3992,11.2163
2,01/01/2016,490,Germany,"Short-Sleeve Classic Jersey, L",53.99,53.99,1,4.3192,41.5723
3,01/01/2016,225,Canada,AWC Logo Cap,8.99,8.99,1,0.7192,6.9223
4,01/01/2016,390,United States,"Road-550-W Yellow, 48",1120.49,1120.49,1,89.6392,713.0798
...,...,...,...,...,...,...,...,...,...
993,02/02/2016,477,France,Water Bottle - 30 oz.,4.99,4.99,1,0.3992,1.8663
994,02/02/2016,606,Canada,"Road-750 Black, 52",539.99,539.99,1,43.1992,343.6496
995,02/02/2016,374,United States,"Road-250 Black, 44",2443.35,2443.35,1,195.4680,1554.9479
996,02/02/2016,477,India,Water Bottle - 30 oz.,4.99,4.99,1,0.3992,1.8663
997,02/02/2016,562,Canada,"Touring-1000 Yellow, 50",2384.07,2384.07,1,190.7256,1481.9379

In [24]:
data3 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",names=["col1","col2","col3","col4","col5","col6"],usecols=[1,2,3,4,5,6])
data3

,col1,col2,col3,col4,col5,col6
0,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity
1,336,Italy,"Road-650 Black, 62",699.0982,699.0982,1
2,222,United States,"Sport-100 Helmet, Blue",34.99,34.99,1
3,540,Canada,HL Road Tire,32.6,32.6,1
4,536,Italy,ML Mountain Tire,29.99,29.99,1
...,...,...,...,...,...,...
996,477,France,Water Bottle - 30 oz.,4.99,4.99,1
997,606,Canada,"Road-750 Black, 52",539.99,539.99,1
998,374,United States,"Road-250 Black, 44",2443.35,2443.35,1
999,477,India,Water Bottle - 30 oz.,4.99,4.99,1
1000,562,Canada,"Touring-1000 Yellow, 50",2384.07,2384.07,1

In [31]:
data3 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",header=None)
data3

,0,1,2,3,4,5,6,7,8
0,OrderDate,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity,TaxAmt,TotalProductCost
1,01/01/2016,336,Italy,"Road-650 Black, 62",699.0982,699.0982,1,55.9279,413.1463
2,01/01/2016,222,United States,"Sport-100 Helmet, Blue",34.99,34.99,1,2.7992,13.0863
3,01/01/2016,540,Canada,HL Road Tire,32.6,32.6,1,2.608,12.1924
4,01/01/2016,536,Italy,ML Mountain Tire,29.99,29.99,1,2.3992,11.2163
...,...,...,...,...,...,...,...,...,...
996,02/02/2016,477,France,Water Bottle - 30 oz.,4.99,4.99,1,0.3992,1.8663
997,02/02/2016,606,Canada,"Road-750 Black, 52",539.99,539.99,1,43.1992,343.6496
998,02/02/2016,374,United States,"Road-250 Black, 44",2443.35,2443.35,1,195.468,1554.9479
999,02/02/2016,477,India,Water Bottle - 30 oz.,4.99,4.99,1,0.3992,1.8663
1000,02/02/2016,562,Canada,"Touring-1000 Yellow, 50",2384.07,2384.07,1,190.7256,1481.9379

In [32]:
data3 = pd.read_csv("C:\\Users\\pankajsingh04\\Documents\\Pandas\\Products.csv",dtype={"ProductKey":"float"})
data3

,OrderDate,ProductKey,Country,EnglishProductName,SalesAmount,UnitPrice,OrderQuantity,TaxAmt,TotalProductCost
0,01/01/2016,336.0,Italy,"Road-650 Black, 62",699.0982,699.0982,1,55.9279,413.1463
1,01/01/2016,222.0,United States,"Sport-100 Helmet, Blue",34.9900,34.9900,1,2.7992,13.0863
2,01/01/2016,540.0,Canada,HL Road Tire,32.6000,32.6000,1,2.6080,12.1924
3,01/01/2016,536.0,Italy,ML Mountain Tire,29.9900,29.9900,1,2.3992,11.2163
4,01/01/2016,490.0,Germany,"Short-Sleeve Classic Jersey, L",53.9900,53.9900,1,4.3192,41.5723
...,...,...,...,...,...,...,...,...,...
995,02/02/2016,477.0,France,Water Bottle - 30 oz.,4.9900,4.9900,1,0.3992,1.8663
996,02/02/2016,606.0,Canada,"Road-750 Black, 52",539.9900,539.9900,1,43.1992,343.6496
997,02/02/2016,374.0,United States,"Road-250 Black, 44",2443.3500,2443.3500,1,195.4680,1554.9479
998,02/02/2016,477.0,India,Water Bottle - 30 oz.,4.9900,4.9900,1,0.3992,1.8663
999,02/02/2016,562.0,Canada,"Touring-1000 Yellow, 50",2384.0700,2384.0700,1,190.7256,1481.9379